.buttons {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 20px;
}

.myHorloge {
    text-align: center;
    /*width: 600px;*/
    font-weight: bold;
}

.myForm {
    width: 600px; 
    margin: auto; 
    margin-top: 50px;
    padding: 10px;
}

.myDiv {
    padding: 20px;
    border-radius: 5px;
    margin: auto;
}

#njf {
    margin-top: 10px;
}

.image {
    display: flex !important;
    justify-content: center !important;
    align-content: center;
}

.myForm {
    width: 600px;
    margin: auto;
    margin-top: 50px; 
    padding: 20px;
}

.input-form {
    margin-bottom: 10px;
}

.image-border {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 50px;
}

.image-span {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin-top: 50px;
    margin: auto;
}

.perso-border {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#b1, #b2, #b3 {
    width: 150px;
}

.myList {
    display: flex;
    justify-content: center;
}

.myButton {
    width: 150px;
}

.division {
    border: 0.5rem solid lightgray;
    margin: 1rem;
}